# Dependencies - ignore node_modules anywhere
node_modules/
**/node_modules/
*/node_modules/

# Environment variables - ignore all .env files

/frontend/dist
/backend/.env
/frontend/.env
/test.md
/.vscode
/.vscode/*