# Dependencies - ignore node_modules anywhere
node_modules/
**/node_modules/
*/node_modules/

# Environment variables - ignore all .env files
.env
.env.*
**/.env
**/.env.*
/frontend/dist
/backend/.env